.info{
  text-align: center;
  padding 10px;
}
img {
  width: 200px;
  height:  200px;
}

.names{
  text-align: left;
}

.banner{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.portraits{
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  -webkit-box-flex:1;
      -ms-flex:1 1 33%;
          flex:1 1 33%;
  -webkit-transition: width 2s linear 1s;
  transition: width 2s linear 1s;
}

@media screen and (min-width: 500px) {

  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  .container {
    height: 100%;
  }

  .contentHeight {
    height: calc(100% - 110px);
    margin-bottom: -75px
  }

  .nav {
    height: 36px;
  }

  .footer{
    height: 75px;
    bottom:0;
  }
}
